#content {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    align-items: stretch;
    position: relative;
    overflow: hidden;
}

/* ======== Bloque 1 ======== */
#preguntaQuien {
    grid-column: 1 / 2;
    grid-row: 1 / 2;  
    position: relative;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    z-index: 1;
    transition: transform 0.5s ease;
    border-radius: 0 15px 15px 0;
}

#preguntaQuien h2{
    color: #1c1d3d;
    text-align: center;
}

#respuestaQuien {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.5s ease;
    z-index: 0;
}

#preguntaQuien:hover #respuestaQuien {
    left: 0;
    background-color: #415f7e;
}

/* ======== Bloque 2 ======== */
#preguntaQue {
    position: relative;
    padding: 20px;
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    border-radius: 15px 0 0 15px;
    transition: transform 0.5s ease;
}

#respuestaQue {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.5s ease;
    z-index: 0;
}

#preguntaQue:hover #respuestaQue {
    right: 0;
    background-color: #415f7e;
}

#preguntaDonde {
    grid-column: 1 / 2;
    grid-row: 4 / 5;  
    position: relative;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    z-index: 1;
    transition: transform 0.5s ease;
    border-radius: 0 15px 15px 0;
    align-items: center;
}
