#content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#content div {
    background-color: white;
    border-radius: 15px;
}

#content div h2 {
    text-align: center;
    padding: 15px;
}

#content div form {
    
}

#formulario {
    margin-right: 20px;
}

#login {
    margin-left: 20px;
}