#content {
    display: flex;
    justify-content: center;  
    align-items: center;               
    padding: 40px;
}

#registro {
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    height: 470x;             
}

#registro form {
    display: flex;
    flex-direction: column;
    gap: 3px;               
}

#content div {
    background-color: white;
    border-radius: 15px;
}

#formulario {
    flex: 1;
    margin-right: 20px;
    height: 70px;
}