#tabla {
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controladorTabla {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}


#controladorTabla  h1 {
    color: #333;
    margin-bottom: 20px;
}

#controladorTabla input {
    color: white;
    background-color: #415f7e;
    border-color: #415f7e;
    border-radius: 10px;
    padding: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
}

#tablaNoticias {
    width: 100%;
    border-collapse: collapse;
    
}

#tablaNoticias th, #tablaNoticias td {
    padding: 12px;
    text-align: left;
}

#tablaNoticias th {
    background-color: #f4f4f4;
    color: #555;
}   

#tablaNoticias tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tablaNoticias tr:hover {
    background-color: #f1f1f1;
}